

body { font-family: "微軟正黑體", sans-serif; background-color: #fdf6f0; padding: 20px; }

h1 { text-align: center; color: #b35c5ca1; }

.event { margin-bottom: 20px; padding: 10px; border-left: 4px solid #b35c5c;
     background-color: #fff; box-shadow: 0 2px 5px rgba(0,0,0,0.1); }

.date { letter-spacing: 1px;font-weight: bold; color: #5c5c5c;color: #000000;font-size:x-large}

.content { margin-top: 5px;font-size:larger; /* 調整字體大小 */ }

.RED{ color: #ff0101;}

.pagination { text-align: center; color: #b35c5ca1; }

.pagination a{
    text-decoration: none;          /*頁數消除底線*/ 
}
.pagination a:hover {
    text-decoration: underline;    /* 頁數 任一屬標移上去有底線*/ 

}
